
a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: underline;
  /* text-shadow:
  -1px -1px 0 grey,
  1px -1px 0 grey,
  -1px 1px 0 grey,
  1px 1px 0 grey;   */
}
h2 {
  color: white;
}
h3 {
  color: yellow;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 grey,
  1px -1px 0 grey,
  -1px 1px 0 grey,
  1px 1px 0 grey;
}
h4 {
  color: yellow;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 grey,
  1px -1px 0 grey,
  -1px 1px 0 grey,
  1px 1px 0 grey;
}
h5 {
  color: white;
}
p {
  color: whitesmoke;
  font-weight: bold;
  /* text-shadow:
  -1px -1px 0 gray,
  1px -1px 0 gray,
  -1px 1px 0 gray,
  1px 1px 0 gray; */
}
button {
  /* background-color: purple;
  color: black;
  border: 2px solid #4CAF50;  */
  margin: 20px;
  /* border: 1px solid rgb(177, 11, 121); */
  border-radius: 5px;
  background: transparent;
  width: 70px;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid yellow;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  /* text-shadow:
  -1px -1px 0 grey,
  1px -1px 0 grey,
  -1px 1px 0 grey,
  1px 1px 0 grey;   */
}
select {
  margin: 20px;
  /* border: 1px solid rgb(177, 11, 121);   */
  border-radius: 5px;
  background: lightseagreen;
  width: 170px;
  padding: 5px 1px 5px 5px;
  font-size: 16px;
  border: 2px solid yellow;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: bold;
  color: white;
  /* background: transparent; */
  /* appearance: none; */
  /* background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee; */
}
input {
  border: 2px solid grey;  
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin: 0, 15px, 0, 5px;
}

img {
  /* margin: 5px; */
  padding: 5px 5px 5px 5px;
  border-radius: 15px;
}

/* p.thick {
  font-weight: bold;
} */

/* .col-md-6 { width: 45%; float: left; text-align : center; margin: 0 10px; overflow: hidden;} */

table {
  background-color: rgb(14, 124, 158);
  padding: 10px;
  border-radius: 15px;
  /* border-color: yellow; */
  /* border: 2px solid yellow; */
}

th, td {
  padding: 10px;
  text-align: left;
}

body {
  background-image: url('./img/water.jpeg');
  /* width: 500px */
  /* background-image: url('./img/maxresdefault.jpg'); */
  /* background-image: url('./img/jellyfish_underwater_jelly_109543_1920x1080.jpg'); */
  background-repeat: repeat;
  background-size: 100%;
} 