
a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
h2 {
  color: white;
}
h3 {
  color: yellow;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 grey,
  1px -1px 0 grey,
  -1px 1px 0 grey,
  1px 1px 0 grey;
}
h4 {
  color: yellow;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 grey,
  1px -1px 0 grey,
  -1px 1px 0 grey,
  1px 1px 0 grey;
}
h5 {
  color: white;
}
p {
  color: white;
  font-weight: bold;
}
button {
  margin: 20px;
  border-radius: 5px;
  background: rgb(18, 191, 221);
  width: 70px;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid yellow;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
}
select {
  margin: 20px, 0, 20px, 20px;
  border-radius: 5px;
  background: rgb(18, 191, 221);
  width: 170px;
  padding: 5px 1px 5px 5px;
  font-size: 16px;
  border: 2px solid yellow;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: bold;
  color: white;
}
input {
  border: 2px solid grey;  
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin: 0, 15px, 0, 5px;
}
img {
  padding: 5px 5px 5px 5px;
  border-radius: 15px;
}
table {
  background-color: rgb(14, 124, 158);
  padding: 10px;
  border-radius: 15px;
}
th, td {
  padding: 10px;
  text-align: left;
}
body {
  background-image: url('./img/water.jpeg');
  background-repeat: repeat;
  background-size: 100%;
} 
.navbutton {
  width: 180px;
  border: none;
  background: rgb(18, 191, 221);
  padding: 3px 3px 3px 3px;
  height: 25px;
}
.container-1 {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.studentBox {
  border: none;
  margin: 15px;
  padding: 10px;
}
.center {
  text-align: center;
}
.studentImageSmall {
  width: auto;
  max-width: 150px;
  /* min-width: 150px; */
  height: auto;
  /* max-height: 100px; */
  min-height: 100px;
}
.campusImageSmall {
  width: auto;
  max-width: 275px;
  height: auto;
  max-height: 200px;
}
.deleteButton {
  background-color: palevioletred;
  margin: 5px 20px 20px 20px;
}
/* edit */